* {
    box-sizing: border-box;
}

body {
    font-family: $main_font_family;
    color: $default_color;
    background-color: $secondary_background_color;
    min-height: 100vh;
}

.container {
    width: 1070px;
    height: 100%;
    margin: 0 auto;
}
