//variabili per il colore
$default_background_color: rgb(46, 58, 70);
$secondary_background_color: #1E2D3B;
$default_color: white;
$secondary_color : grey;

//variabili per il font
$main_font_family: 'Lato', sans-serif;
$big_font_size: 20px;
$medium_font_size: 18px;
